<div class="row">
  <div class="small-7 columns">
    <%= render partial: "store_details" %>
  </div>
  <% if logged_in? && (current_user.role? :admin) %>
    <div class="small-5 columns">
      <%= render partial: "assigned_employees" unless (@current_assignments.nil? or @current_assignments.empty?) %>
    </div>
  <% elsif logged_in? && (current_user.role? :manager) %>
    <div class="small-5 columns">
      <%= render partial: "assigned_employees" unless (@current_assignments.nil? or @current_assignments.empty?) %>
      <%= image_tag @store.create_map_link %>
    </div>
  <% else %>
    <div class="small-5 columns">
      <%= image_tag @store.create_map_link %>
    </div>
  <% end %>
</div>


<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "store", object: @store}  %>